.perfumes-grid-header {
  display: flex;
  justify-content: space-between;
  padding: 2rem 0;
  gap: 1rem;
}

.header-buttons-box {
  display: flex;
  flex-direction: column;
  gap: .5rem;

  button {
    width: 100%;
  }
}

.search-filter-wrapper {
  display: flex;
  flex-direction: column;
  min-width: 25rem;
  gap: 1rem;
}

.collection-display-box {
  display: grid;
  grid-template-columns: 7.5rem auto;
  align-items: center;
  gap: 1rem;
}

.counter-display {
  font-weight: 600;
}

@media(max-width:650px) {
  .perfumes-grid-header {
    flex-direction: column;
  }

  .header-buttons-box {
    flex-direction: row;
  }

  .search-filter-wrapper {
    min-width: 0;
  }
}