.form-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: .5rem;
}

.controls-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  padding: .3rem 0;
  max-height: 95vh;
  overflow-y: auto;
}

.buttons-bar button {
  float: right;
}

.image-input-label {
  display: flex;
  width: 100%;
  min-height: 350px;
  align-items: center;
  justify-content: center;
  border: 2px solid #c2c2c2;
  cursor: pointer;
  transition: .15s;
}

.image-input-label:hover {
  border-color: var(--black);
}

.perfume-image {
  max-height: 350px;
  object-fit: cover;
}

.in-stock-checkbox {
  width: fit-content;
}

@media(max-width:850px) {
  .controls-grid {
    grid-template-columns: 1fr;
  }
}