header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  padding: 1rem 0;
}

.header-logo {
  max-width: 6rem;
  justify-self: center;
}

h1 {
  text-align: center;
}

.auth-button {
  width: 6rem;
  justify-self: right;
  height: fit-content;
}

@media(max-width:650px) {
  header {
    grid-template-columns: 1fr 1fr;
  }

  .header-logo {
    justify-self: left;
    padding-left: .5rem;
  }

  .header-placeholder {
    display: none;
  }
}