header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 2rem 0 1rem;
}

h1 {
  text-align: center;
}

.auth-button {
  width: 6rem;
  justify-self: right;
}

@media(max-width:650px) {
  header {
    grid-template-columns: 1fr 1fr;
  }

  .header-placeholder {
    display: none;
  }
}