.perfumes-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: .5rem;
}

.empty-list {
  padding: 5rem 0;
  grid-column: 1 / 3;
  text-align: center;
}

@media(max-width:1000px) {
  .perfumes-grid {
    grid-template-columns: 1fr;
  }
}